<% include ../partials/header %>

<h1>Assign User</h1>

<form action="/user/assign-endpoints" method="POST">
    <input type="hidden" class="form-control" id="user-id" name="userId" value="<%= userId %>">
    <div class="row">
        <% endpoints.forEach((endpoint, index) => { %>
        <div class="col-2 mb-3">
            <div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox" name="endpoints" class="form-check-input" <%= endpoint.checked %>
                        value="<%= endpoint.id %>"><%= endpoint.path %> [<%= endpoint.method %>]
                </label>
            </div>
        </div>
        <% }) %>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<% include ../partials/footer %>