<% include ../partials/header %>

<h1 class="text-center">
    Organisasi <br />
</h1>

<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link active" href="/organization/add">Tambah <i class="fas fa-plus"></i></a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="#">Download <i class="fas fa-download"></i></a>
    </li>
</ul>
<br />
<div class="table-responsive">
    <table id="table-organization" class="table">
        <caption>Daftar Organisasi</caption>
        <thead>
            <tr>
                <th>No</th>
                <th>Id</th>
                <th>Nama</th>
                <th>Singkatan</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% organizations.forEach((organization, index) => { %>
            <tr>
                <td width="10%"><%= ++index %></td>
                <td width="10%"><%= organization.id %></td>
                <td><%= organization.name %></td>
                <td width="10%"><%= organization.abbreviation %></td>
                <td width="10%" class="text-center">
                    <a href="/organization/update/<%= user.id %>"><i class="fas fa-edit"></i></a>
                </td>
            </tr>
            <% }) %>
        </tbody>
    </table>
</div>

<% include ../partials/footer %>

<script>
    $(document).ready(function () {
        $('#table-organization').DataTable();
    });
</script>